.data_bench_overview {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.bench_distance {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    margin: 4px 0;
}

.overview_container {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    align-items: center;
    background-color: #ffffff;
    padding: 12px 16px;
    text-align: center;
    height: 80px;
    border-radius: 12px;

    .bench_overview_container {
        display: flex;
        flex-direction: column;
        gap: 12px;
        flex: 1;
    }

    .rating_container {
        display: inline-flex;
        gap: 8px;
        justify-content: center;

        .rating_icon {
            fill: #1c1b1f;
            width: 16px;
            height: 16px;
        }
    }

    .overview_title {
        font-size: 12px;
        font-weight: 500;
    }

    .overview_content {
        font-size: 14px;
        font-weight: 600;
    }

    .box_data_seperators {
        background-color: white;
        height: 64px;
        width: 2px;
    }
}
