.drawer_container {
    height: auto;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 32px 20px 20px 20px;
    background: linear-gradient(135deg, #a9b8ff 0%, #60219e 100%);
    border-radius: 24px 24px 0 0;
}
