.fab_container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background: #d5d5d5;
    border-radius: 100px;
    position: fixed;
    bottom: 32px;
    right: calc((100% - 393px) / 2 + 32px);
    z-index: 1000;
    text-decoration: none;
    color: black;
    cursor: pointer;
    transition: background-color 0.2s ease;

    &:hover {
        background-color: rgb(165, 165, 165);
    }

    .option_icons {
        color: rgb(0, 0, 0);
        height: 20px;
        width: 20px;
    }
}
