.tag_container {
    display: inline-flex;
    padding: 4px 12px;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    background: #ffffff;

    p {
        font-size: 12px;
    }
}
