.container {
    color: blue;
}

/* Reset default margins and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 393px;
    height: 100%;
    overflow: hidden;
}

#root {
    width: 393px;
    height: 100vh;
    /* max-width: 1280px; */
    margin: 0 auto;
    background-color: white;
}

.app_body {
    width: 393px;
}